<% ingredient_preferences = %w(Alcohol-free Fragance-free Gluten-free Hypoallergenic Naturally\ derived Oil-free Parabens-free Phthalate-free Silicone-free Suplhate-free Vegan) %>
<% skin_concerns = %w(Blemishes Dark\ circles Dehydration Dullness Fine\ lines Loss\ of\ firmness Pigmentation Puffiness Redness Sun\ damage Uneven\ skin\ texture Uneven\ skin\ tone Visible\ pores Wrinkles) %>
<% skin_types = ["All", "Extra Oily", "Oily", "Combination", "Dry", "Extra Dry", "Sensitive", "Normal"] %>
<% form = %w(Balm Cream Gel Lotion Powder Sheet) %>


<h2>Ingredient preferences</h2>
<% ingredient_preferences.each do |tag|  %>
<%= link_to tag, products_path(tag: tag), class: "filter-element", "data-type": "tag" %>
<% end %>

<h2>Skin concerns</h2>
<% skin_concerns.each do |tag|  %>
<%= link_to tag, products_path(tag: tag), class: "filter-element", "data-type": "tag" %>
<% end %>

<h2>Skin types</h2>
<% skin_types.each do |tag|  %>
<%= link_to tag, products_path(tag: tag), class: "filter-element", "data-type": "tag" %>
<% end %>


<h2>Form</h2>
<% form.each do |tag|  %>
<%= link_to tag, products_path(tag: tag), class: "filter-element", "data-type": "tag" %>
<% end %>

<h2>Categories</h2>
<% ["Skin Care Packs"].each do |category|  %>
<%= link_to category, products_path(category: category), class: "filter-element", "data-type": "category" %>
<% end %>

<script>
document.addEventListener('turbolinks:load', () => {
  let filterElements = document.querySelectorAll(".filter-element");
  Array.from(filterElements).forEach((element) => {
    element.addEventListener('click', (e) => {
      e.preventDefault();
      var elementType = e.currentTarget.dataset.type;
      var elementName = e.currentTarget.innerHTML;
      var url = window.location.href;
      var urlObject = new URL(url.toString());
      urlObject.searchParams.append(`${elementType}[]`, elementName);
      console.log(urlObject);
      // window.history.pushState({}, '', urlObject.href);
      window.location.href = urlObject;
    });
  });
});
</script>


