<div class="container mt-4">
  <div class="text-left">
    <h1 class="pt-3 pb-2"> <%= @ingredient.name %> </h1>
    <div class="colorstrip mt-2 mb-2"></div>
  </div>
  <div class="ingredient-show-flex">
    <div class="ingredient-show-details">
      <p class="pt-3 pb-5"> <%= @ingredient.description %> </p>
    </div>
    <div class="ingredient-ratings-container">
        <div class="card-rating-container-show-flex pl-4">
            <% rating = @ingredient.safety_rating %>
            <% if rating != nil %>
                <%= render 'shared/progresscircle', :locals => {"value" => rating} unless rating == nil %>
                <h3 class="text-left pl-3">Safety <br> Consensus </h3>
            <% end %>
        </div>
        <div class="card-rating-container-show-flex">
            <% rating = @ingredient.efficacy_rating %>
            <% if rating != nil %>
                <%= render 'shared/progresscircle', :locals => {"value" => rating} unless rating == nil %>
                <h3 class="text-left pl-3">Efficacy <br> Consensus </h3>
            <% end %>
        </div>
    </div>
  </div>
</div>

<!--Product Review Carousel-->
<div class="light-grey-container">
  <div class="container">
    <div class="text-left">
      <h2 class="mt-3">Reviews</h2>
      <div class="colorstrip mt-3 mb-3"></div>
    </div>

    <!--Carousel Wrapper-->
    <div id="multi-item-example" class="carousel slide carousel-multi-item" data-ride="carousel">

      <!--Slides-->
      <div class="carousel-inner" role="listbox">
        <% @ingredient.ingredient_reviews.each_slice(2).with_index do |review_slice, index| %>
          <div class="carousel-item <%= index.zero? ? 'active' : '' %>">
            <div class="row">
              <% review_slice.each do |ingredient_review| %>
                <div class="col-6">
                  <div class="ingredient-review-card">
                    <div class="text-center test">
                      <div class="ingredient-review-header">
                        <%= image_tag "#{ingredient_review.user.photo_url}", class:"avatar pl-2 pt-2 ing-rev-avatar" %>
                        <div class="ingredient-reviewer-name" id="reviewer-name">
                          <H3 class="pl-2 pt-2"><b><%= "#{ingredient_review.user.first_name} #{ingredient_review.user.last_name}"%></b></H3>
                        </div>
                      </div>
                    </div>
                    <div class="ingredient-review-body p-3">
                      <h3 id="ing-rev-title"> <%= ingredient_review.title.truncate(44) %> </h3>

                      <p id="ing-rev-content"> <%= ingredient_review.content.truncate(450) %> </p>
                      <p id="evidence"> <%= ingredient_review.supporting_evidence.truncate(100) %> </p>
                    </div>
                    <div class="ingredient-review-ratings pt-3 pb-3">
                      <div class="card-rating-container-flex">
                          <% rating = ingredient_review.safety_rating %>
                          <% if rating != nil %>
                              <%= render 'shared/progresscircle', :locals => {"value" => rating} unless rating == nil %>
                              <p class="pl-2 pt-2">Safety</p>
                          <% end %>
                      </div>
                      <div class="card-rating-container-flex">
                          <% rating = ingredient_review.efficacy_rating %>
                          <% if rating != nil %>
                              <%= render 'shared/progresscircle', :locals => {"value" => rating} unless rating == nil %>
                              <p class="pl-2 pt-2">Efficacy</p>
                          <% end %>
                      </div>
                    </div>
                  </div>
                </div>
              <% end %>
            </div>
          </div>
        <% end %>
      </div>
      <!--/.Slides-->
      <div class="d-flex pt-5 pb-2">
         <a class="btn-floating" href="#multi-item-example" data-slide="prev"><i class="fa fa-chevron-left"></i></a>
         <ol class="carousel-indicators flex-grow-1">
          <% ((@ingredient.ingredient_reviews.size / 2) + 1).times do |index|  %>
            <li data-target="#multi-item-example" data-slide-to="<%=index%>" class="<%= index.zero? ? 'active' : '' %>"></li>
          <% end %>
        </ol>
        <a class="btn-floating" href="#multi-item-example" data-slide="next"><i class="fa fa-chevron-right"></i></a>
      </div>
    </div>
    <!--/.Carousel Wrapper-->
    <div class="container" style="margin-top: 20px">
    <% if current_user %>
      <% if current_user.verified?  %>
      <button id="myBtn" class="btn-ghost">Leave A Review</button>
      <!-- The Modal -->
      <div id="myModal" class="modal">
        <!-- Modal content -->
        <div class="modal-content">
          <span class="close">&times;</span>
            <div class="container">
              <%= render partial: 'ingredient_reviews/form' %>
            </div>
        </div>
      </div>
      <% end %>
    <% end %>
    </div>
  </div>
</div>

<!-- Alternative ProductsCarousel Wrapper-->
<div class="dark-blue-container pt-5">
  <div class="container">
    <div class="text-left">
      <h2 id="white-me"><%= "Things that contain #{@ingredient.name}" %></h2>
      <div class="colorstrip-white mt-4 mb-3"></div>
    </div>

    <!--Carousel Wrapper-->
    <div id="multi-item-example" class="carousel slide carousel-multi-item pt-2" data-ride="carousel">

      <!--Slides-->
      <div class="carousel-inner" role="listbox">
        <% @ingredient.products.each_slice(3).with_index do |product_slice, index| %>
          <div class="carousel-item <%= index.zero? ? 'active' : '' %>">
            <div class="product-grid">
              <%= render product_slice %>
            </div>
          </div>
        <% end %>
      </div>
      <!--/.Slides-->
      <div class="d-flex py-5">
         <a class="btn-floating" href="#multi-item-example" data-slide="prev"><i class="fa fa-chevron-left"></i></a>
         <ol class="carousel-indicators flex-grow-1">
          <% ((@ingredient.ingredient_reviews.size / 2) + 1).times do |index|  %>
            <li data-target="#multi-item-example" data-slide-to="<%=index%>" class="<%= index.zero? ? 'active' : '' %>"></li>
          <% end %>
        </ol>
        <a class="btn-floating" href="#multi-item-example" data-slide="next"><i class="fa fa-chevron-right"></i></a>
      </div>
    </div>
    <!--/.Carousel Wrapper-->
  </div>
</div>

<div class="container text-left">
  <h2 class="pt-5 pb-2">Popular Resources</h2>
  <div class="colorstrip mt-3 mb-3"></div>
  <ul class="text-left mt-3 mb-5">
    <% @ingredient.ingredient_reviews.each do |review| %>
    <li><%= "#{review.supporting_evidence}" %></li>
    <% end %>
  </ul>
</div>

<script>
// Get the modal
var modal = document.getElementById("myModal");

// Get the button that opens the modal
var btn = document.getElementById("myBtn");

// Get the <span> element that closes the modal
var span = document.getElementsByClassName("close")[0];

// When the user clicks on the button, open the modal
btn.onclick = function() {
  modal.style.display = "block";
}

// When the user clicks on <span> (x), close the modal
span.onclick = function() {
  modal.style.display = "none";
}

// When the user clicks anywhere outside of the modal, close it
window.onclick = function(event) {
  if (event.target == modal) {
    modal.style.display = "none";
  }
}
</script>


