<div class="product-details">
  <img class="img-fluid rounded" src= "<%=product.img %>" />
  <div class="card-product-infos">
      <h2><%= link_to "#{product.title} - #{product.brand.name}", product_path(product), class: 'card-link'%></h2>
      <p><%= product.oneliner%></p>
       <p><%= product.user_rating%>
          <% product.user_rating.to_i.times do %>
            <i class="fa fa-star checked"></i>
          <% end %>
       </p>
      <% unless product.safety_rating == 0 %>
        <div class="ingredient-card-rating">
          <div class="card-rating-container">
            <% rating = product.safety_rating %>
            <%= render 'shared/progresscircle', :locals => {"value" => rating} unless rating == nil %>
            <p>Safety</p>
          </div>
          <div class="card-rating-container">
            <% rating = product.efficacy_rating %>
            <%= render 'shared/progresscircle', :locals => {"value" => rating} unless rating == nil %>
            <p>Efficacy</p>
          </div>
        </div>
      <% end %>
  </div>
</div>
