<div class ="container">
  <div class="product-top-nav">
    <h2>Search for Products</h2>
    <%= render 'shared/productsearchbarform' %>
  </div>
  <div class="body-container">
    <div id="products-index-sidebar">
        <%= render partial: 'shared/filterform' %>
    </div>
    <div class="search-results-container">
      <div class="product-text-container">
        <p> search for XX products </p>
      </div>
      <%= render 'products', products: @products %>
      <div>
        <% if params[:product_search].nil? %>
          <ul>
            <li>
                <%= link_to_if @page > 0, "<< Previous", products_path(page: @page - 1) %>
            </li>
            <li>
                <%= link_to_if @page < (Product.count/12)  , "Next >>", products_path(page: @page + 1) %>
            </li>
          </ul>
          <% end %>
      </div>
    </div>
  </div>
  <div>
    <%= link_to "Take me home", root_path, class:"btn-primary" %>
    <%= link_to "back to ingredient search", ingredients_path, class:"btn-primary" %>
  </div>
</div>

<script type="text/javascript">
  var checkBoxes = document.querySelectorAll(".form-check-input");
  var form = document.querySelector('form');

  for (const check of checkBoxes) {
  check.addEventListener( 'change', function() {
    Rails.fire(form, 'submit');
  });
  }
</script>


