<div class ="container">
  <div class="product-top-nav">
    <h2>Search for Products</h2>
    <%= render 'shared/productsearchbarform' %>
  </div>
  <div class="body-container">
    <div id="products-index-sidebar">
        <%= render partial: 'shared/filterform' %>
    </div>
    <div class="search-results-container">

      <%= render 'products', products: @products %>

    </div>
  </div>
  <div>
    <%= link_to "Take me home", root_path, class:"btn-primary" %>
    <%= link_to "back to ingredient search", ingredients_path, class:"btn-primary" %>
  </div>
</div>


