

<div class="container">
  <div class="flex-container-between">
    <div class="product-bio">
      <h1><%= @product.title %> </h1>
      <h2> <%= @product.brand.name %> </h2>
      <p> <%= @product.description %> </p>
      <% unless @product.safety_rating == 0 %>
      <div class="ratings-flex">
        <div class="product-show-rating-container">
            <% rating = @product.safety_rating %>
            <%= render 'shared/progresscircle', :locals => {"value" => rating} unless rating == nil %>
            <div class="h3-box">
              <h3>Ingredient</h3>
              <h3>Safety</h3>
            </div>
        </div>
        <div class="product-show-rating-container">
            <% rating = @product.efficacy_rating %>
            <%= render 'shared/progresscircle', :locals => {"value" => rating} unless rating == nil %>
            <div class="h3-box">
              <h3>Ingredient</h3>
              <h3>Efficacy</h3>
            </div>
        </div>
      </div>
      <% end %>
    </div>
    <div class="product-bio-image">
      <img src= "<%=@product.img %>" style="width: 300px" />
     <div>
        <% if user_signed_in? %>
          <% if @product.favorited_by?(current_user) %>

              <%= link_to product_unfavorite_path(@product), method: :delete, remote: true do %>
                  <i class="fas fa-heart"></i>
                  Unfavourite
                <% end %>
          <% else %>
            <%= link_to product_favorite_path(@product), method: :patch, remote: true  do %>
                    <i class="far fa-heart"></i>
                    Favourite
              <% end %>
          <% end %>
        <% else %>
          <%= link_to "Favourite", new_user_session_path, class: 'btn-primary' %>
        <% end %>
      </div>
    </div>
  </div>
</div>

<div class="salmon-container">
  <div class="container">
    <div class="container-aligned-left">
      <h2>What's In It?</h2>
      <p>Filter by: <strong>safety</strong></p>
      <hr>
      <h3>Trusted Ingredients (95%+ Ratings)</h3>
        <div class="container">
          <% @product_ingredients.each do |product_ingredient| %>
            <ul>
              <li><%= link_to "#{product_ingredient.ingredient.name}",  ingredient_path(product_ingredient.ingredient.id) %></li>
            </ul>
          <% end %>
        </div>
      <hr>
      <h3>Other Ingredients</h3>
      <p>Lorem ipsum...</p>
    </div>
  </div>
</div>

<div class="container" style="padding-top: 20px; padding-bottom: 40px">
  <div class="container-aligned-left">
    <h2>How the Users Feel</h2>
    <hr>
    <div class="product-rating-flex">
      <div class="product-ratings-left">
        <h3>Ratings Overview</h3>
        <p>Select ro filter results</p>
        <ul id="prod-reviews">
          <% total_reviews =  @product.product_reviews.count%>
          <% star_reviews_5 = @product.star_5 %>
          <% star_reviews_5_percentage = (star_reviews_5).fdiv(total_reviews) * 100%>
          <% star_reviews_4 = @product.star_4 %>
          <% star_reviews_4_percentage = (star_reviews_4).fdiv(total_reviews) * 100%>
          <% star_reviews_3 = @product.star_3 %>
          <% star_reviews_3_percentage = (star_reviews_3).fdiv(total_reviews) * 100%>
          <% star_reviews_2 = @product.star_2 %>
          <% star_reviews_2_percentage = (star_reviews_2).fdiv(total_reviews) * 100%>
          <% star_reviews_1 = @product.star_1 %>
          <% star_reviews_1_percentage = (star_reviews_1).fdiv(total_reviews) * 100%>
          <% #5-Star-Bar %>
          <% if star_reviews_5_percentage > 70 && star_reviews_5_percentage <= 100 %>
            <li><span class="bar width-100"></span><p>5 Stars</p></li>
          <% elsif star_reviews_5_percentage > 0 && star_reviews_5_percentage <= 30 %>
            <li><span class="bar width-30"></span><p>5 Stars</p></li>
          <% elsif star_reviews_5_percentage > 30 && star_reviews_5_percentage <= 50 %>
            <li><span class="bar width-50"></span><p>5 Stars</p></li>
          <% elsif star_reviews_5_percentage > 50 && star_reviews_5_percentage <= 70 %>
            <li><span class="bar width-70"></span><p>5 Stars</p></li>
          <% else %>
            <li><span class="bar width-0"></span><p>5 Stars</p></li>
          <% end %>

           <% #4-Star-Bar %>
          <% if star_reviews_4_percentage > 70 && star_reviews_4_percentage <= 100 %>
            <li><span class="bar width-100"></span><p>4 Stars</p></li>
          <% elsif star_reviews_4_percentage > 0 && star_reviews_4_percentage <= 30 %>
            <li><span class="bar width-30"></span><p>4 Stars</p></li>
          <% elsif star_reviews_4_percentage > 30 && star_reviews_4_percentage <= 50 %>
            <li><span class="bar width-50"></span><p>4 Stars</p></li>
          <% elsif star_reviews_4_percentage > 50 && star_reviews_4_percentage <= 70 %>
            <li><span class="bar width-70"></span><p>4 Stars</p></li>
          <% else %>
            <li><span class="bar width-0"></span><p>4 Stars</p></li>
          <% end %>

          <% #3-Star-Bar %>
          <% if star_reviews_3_percentage > 70 && star_reviews_3_percentage <= 100 %>
            <li><span class="bar width-100"></span><p>3 Stars</p></li>
          <% elsif star_reviews_3_percentage > 0 && star_reviews_3_percentage <= 30 %>
            <li><span class="bar width-30"></span><p>3 Stars</p></li>
          <% elsif star_reviews_3_percentage > 30 && star_reviews_3_percentage <= 50 %>
            <li><span class="bar width-50"></span><p>3 Stars</p></li>
          <% elsif star_reviews_3_percentage > 50 && star_reviews_3_percentage <= 70 %>
            <li><span class="bar width-70"></span><p>3 Stars</p></li>
          <% else %>
            <li><span class="bar width-0"></span><p>3 Stars</p></li>
          <% end %>

          <% #2-Star-Bar %>
          <% if star_reviews_2_percentage > 70 && star_reviews_2_percentage <= 100 %>
            <li><span class="bar width-100"></span><p>2 Stars</p></li>
          <% elsif star_reviews_2_percentage > 0 && star_reviews_2_percentage <= 30 %>
            <li><span class="bar width-30"></span><p>2 Stars</p></li>
          <% elsif star_reviews_2_percentage > 30 && star_reviews_2_percentage <= 50 %>
            <li><span class="bar width-50"></span><p>2 Stars</p></li>
          <% elsif star_reviews_2_percentage > 50 && star_reviews_2_percentage <= 70 %>
            <li><span class="bar width-70"></span><p>2 Stars</p></li>
          <% else %>
            <li><span class="bar width-0"></span><p>2 Stars</p></li>
          <% end %>

          <% #1-Star-Bar %>
          <% if star_reviews_1_percentage > 70 && star_reviews_1_percentage <= 100 %>
            <li><span class="bar width-100"></span><p>1 Stars</p></li>
          <% elsif star_reviews_1_percentage > 0 && star_reviews_1_percentage <= 30 %>
            <li><span class="bar width-30"></span><p>1 Stars</p></li>
          <% elsif star_reviews_1_percentage > 30 && star_reviews_1_percentage <= 50 %>
            <li><span class="bar width-50"></span><p>1 Stars</p></li>
          <% elsif star_reviews_1_percentage > 50 && star_reviews_1_percentage <= 70 %>
            <li><span class="bar width-70"></span><p>1 Stars</p></li>
          <% else %>
            <li><span class="bar width-0"></span><p>1 Stars</p></li>
          <% end %>

        </ul>
      </div>
      <div class="product-ratings-right">
        <h2><span class="fa fa-star checked"></span> <%= @product.user_rating%> (<%= total_reviews %> Reviews)</h2>
        <h2>
          <% @product.user_rating.to_i.times do%>
          <i class="fa fa-star checked"></i>
          <% end %>
        </h2>
        <div class=”review-rating” data-score = “<%= 3 %>”></div>
        <!-- Trigger/Open The Modal -->
        <button id="myBtn" class="btn-ghost">Leave A Review</button>

        <!-- The Modal -->
        <div id="myModal" class="modal">

          <!-- Modal content -->
          <div class="modal-content">
            <span class="close">&times;</span>
              <div class="container">
                <%= render partial: 'product_reviews/form' %>
              </div>
          </div>
        </div>
      </div>
    </div>
    <div class="ind-product-reviews">
      <h2>User Reviews</h2>
      <hr>
      <% @product.product_reviews.each do |product_review| %>
      <div class="product-review-card">
        <div class="avatar-placeholder">
          <div style="border-radius: 50%">
            <%= image_tag "#{product_review.user.photo_url}" %>
          </div>
        </div>
        <div class="review-body">
          <div class="product-review-header">
            <h3><%= product_review.title %></h3>
            <p style="color: $mid-gray; margin-left: 7px">-5 days ago</p>
          </div>
          <p><%= product_review.content %></p>
          <p>User: <%= product_review.user.username %></p>
          <p><b>Skin type:</b>
          <p><b>Skin concern:</b> <%= product_review.skin_concern %></p>
          <div class="reviews-and-ratings">
            <p>
              <% product_review.product_rating.times do %>
                <i class="fa fa-star checked"></i>
              <% end %>
            </p>
            <p style="margin-left: 10px"><b>Recommended?</b> <%= product_review.recommended %></p>
          </div>
          <hr>
        </div>
      </div>
      <% end %>
    </div>
  </div>
</div>



<script>
// Get the modal
var modal = document.getElementById("myModal");

// Get the button that opens the modal
var btn = document.getElementById("myBtn");

// Get the <span> element that closes the modal
var span = document.getElementsByClassName("close")[0];

// When the user clicks on the button, open the modal
btn.onclick = function() {
  modal.style.display = "block";
}

// When the user clicks on <span> (x), close the modal
span.onclick = function() {
  modal.style.display = "none";
}

// When the user clicks anywhere outside of the modal, close it
window.onclick = function(event) {
  if (event.target == modal) {
    modal.style.display = "none";
  }
}
</script>

<script>
$(‘.review-rating’).raty({
readOnly: true,
score: function() {
return $(this).attr(‘data-score’);
},
path: ‘/assets/’
});
</script>
